<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="manifest" href="/static/manifest.json">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clipboard</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="username-title">{{ user }}'s Clipboard&nbsp&#128513;</div>
    <textarea id="textArea" class="full-screen-textarea" wrap="off" placeholder="Enter text here">{{ text }}</textarea>
    <div class="floating-buttons">
        <button id="reloadButton" class="floating-button">⟳</button>
        <button id="saveButton" class="floating-button">✔</button>
        <button id="clearButton" class="floating-button">✖</button>
        <button id="logoutButton" class="floating-button"><i class="fa fa-sign-out"></i></button>
    </div>
    <script>
        $(document).ready(function() {
            $('#reloadButton').click(function() {
                location.reload();
            });

            $('#saveButton').click(function() {
                $.post('/save', { text: $('#textArea').val() }, function(response) {
                    alert('Saved successfully!');
                });
            });

            $('#clearButton').click(function() {
                $('#textArea').val('');
                $('#saveButton').click();
            });

            $('#logoutButton').click(function() {
                if (confirm("pakka?")) {
                  window.location.href = "/logout";
                }
            });
        });
    </script>
</body>
</html>
